/* Typography */

::selection {
    @apply bg-yellow-400 text-black dark:text-white;
}

/* Headings */
h1, h2, h3 {
    @apply text-gray-800 dark:text-gray-300 tracking-tight;
}

h1 {
    @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-bold my-6;
}

h2 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-semibold my-5;
}

h3 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-medium my-4;
}

h4 {
    @apply text-lg text-yellow-600 dark:text-yellow-400 sm:text-xl md:text-2xl lg:text-3xl font-medium my-3 tracking-tight;
}

h5 {
    @apply text-sm text-yellow-600 dark:text-yellow-400 sm:text-lg md:text-xl lg:text-2xl font-medium my-3 tracking-tight;
}

/* Text */
p {
    @apply text-lg sm:text-xl md:text-2xl text-gray-700 dark:text-gray-400 my-3 leading-relaxed tracking-wide;
}

article p {
    @apply text-sm sm:text-lg md:text-xl;
}

section li > a {
    @apply text-gray-700 dark:text-gray-500 leading-relaxed tracking-wide;
}

/* Links */
a {
    @apply text-yellow-700 dark:text-yellow-400 relative transition-colors duration-200 ease-in-out no-underline cursor-pointer;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

[striked], [striked]:hover {
    @apply text-yellow-600 dark:text-yellow-400 line-through;
}
